#data-table-example4 {
          border: 1px solid #1C6EA4;
          background-color: #EEEEEE;
          width: 100%;
          text-align: left;
          border-collapse: collapse;
        }
        #data-table-example4 td, #data-table-example4 th {
          border: 1px solid #AAAAAA;
          padding: 3px 2px;
          vertical-align: middle;
        }
        #data-table-example4 tbody td {
          font-size: 11px;
        }
        #data-table-example4 tr:nth-child(even) {
          background: #D0E4F5;
        }
        #data-table-example4 thead {
          background: #1C6EA4;
          background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
          background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
          background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
          border-bottom: 2px solid #444444;
        }
        #data-table-example4 thead th {
          font-size: 11px;
          font-weight: bold;
          color: #FFFFFF;
          border-left: 2px solid #D0E4F5;
          text-align: center;
        }
        #data-table-example4 thead th:first-child {
          border-left: none;
        }